#requirements.txt

PyYAML==6.0.2
requests==2.32.3
cryptography==43.0.1
pydantic==2.9.2
starlette==0.38.6
uvicorn==0.31.0
fastapi==0.115.0
pyngrok==7.2.0
passlib==1.7.4
SQLAlchemy==2.0.35
psycopg2-binary==2.9.9
python-jose==3.3.0
passlib==1.7.4